BOWATT_ENVIRONMENT=development
BOWATT_HOST=0.0.0.0
BOWATT_PORT=8787
BOWATT_CORS_ORIGINS=http://localhost:5173
BOWATT_DEFAULT_WORKSPACE_ID=local-default
BOWATT_MAX_UPLOAD_FILES=10
BOWATT_MAX_UPLOAD_BYTES=5000000
BOWATT_MAX_REQUEST_CHARACTERS=10000

